In [1]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv("healthcare-dataset-stroke-data.csv")


data.shape

(5110, 12)

In [3]:
data.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [4]:
data = data[["age", "gender","hypertension", "stroke"]]

In [5]:
data = pd.get_dummies(data)

In [6]:
data = data.drop(["gender_Female", "gender_Other"], axis = 1)

In [7]:
data = data.dropna()

In [8]:
data[data["stroke"] == 1]

      age  hypertension  stroke  gender_Male
0    67.0             0       1            1
1    61.0             0       1            0
2    80.0             0       1            1
3    49.0             0       1            0
4    79.0             1       1            0
..    ...           ...     ...          ...
244  57.0             0       1            1
245  14.0             0       1            0
246  75.0             0       1            0
247  71.0             1       1            1
248  78.0             0       1            0

[249 rows x 4 columns]

In [9]:
len(data[data["stroke"] == 1])

249

In [10]:
stroke_no = data[data["stroke"] == 1]

In [11]:
data[data["stroke"] == 0]

       age  hypertension  stroke  gender_Male
249    3.0             0       0            1
250   58.0             1       0            1
251    8.0             0       0            0
252   70.0             0       0            0
253   14.0             0       0            1
...    ...           ...     ...          ...
5105  80.0             1       0            0
5106  81.0             0       0            0
5107  35.0             0       0            0
5108  51.0             0       0            1
5109  44.0             0       0            0

[4861 rows x 4 columns]

In [12]:
len(data[data["stroke"] == 0])

4861

In [13]:
stroke_yes = data[data["stroke"] == 0][0:251]

len(stroke_yes)

251

In [14]:
data = pd.concat([stroke_yes, stroke_no])

In [15]:
data.sample(5)

      age  hypertension  stroke  gender_Male
36   74.0             0       1            1
339  49.0             0       0            0
434  64.0             0       0            1
141  59.0             0       1            0
412  64.0             0       0            0

In [16]:
X_train, X_test, y_train, y_test = train_test_split(data.drop("stroke", axis = 1), data["stroke"])

In [17]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

In [18]:
logreg.predict(np.array([[20,0,0]]))[0]

0